.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    gap: 20px;
    z-index: 1;
  }
  
  .featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    flex:1
  }
  
  .featuredm{
    display: none;
  }

  .featuredItem:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.200);
  background: linear-gradient( 180deg, rgba(0, 0, 0, 0.100) 0%, rgba(0, 0, 0, 0.75) 100%);
  }


  .featuredImg{
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  
  .featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .featuredTitles h1{
      font-size: 1.7rem;
  }

  .featuredTitles h2{
    font-size: 1rem;
}

@media screen and (min-width: 500px) {
  
.delhi{
  display: none;
}

}